@import "tailwindcss";

@theme {
  --color-fantasy: #f5f0ee;
  --color-fantasy-50: #faf7f6;
  --color-fantasy-100: var(--color-fantasy);
  --color-fantasy-200: #ebe1dd;
  --color-fantasy-300: #ddcbc4;
  --color-fantasy-400: #c7ada2;
  --color-fantasy-500: #b18f82;
  --color-fantasy-600: #9a7668;
  --color-fantasy-700: #806155;
  --color-fantasy-800: #6c524b;
  --color-fantasy-900: #5c4840;
  --color-fantasy-950: #30241f;

  --color-state-gray: #788798;
  --color-state-gray-50: #f8fafc;
  --color-state-gray-100: #f2f5f8;
  --color-state-gray-200: #e3e9ef;
  --color-state-gray-300: #cdd6df;
  --color-state-gray-400: #97a5b5;
  --color-state-gray-500: var(--color-state-gray);
  --color-state-gray-600: #4a5766;
  --color-state-gray-700: #364352;
  --color-state-gray-800: #212b38;
  --color-state-gray-900: #11192b;
  --color-state-gray-950: #040815;

  --color-santa-fe: #c3725b;
  --color-santa-fe-50: #fbf6f5;
  --color-santa-fe-100: #f8eceb;
  --color-santa-fe-200: #f2dcd6;
  --color-santa-fe-300: #e8c3b9;
  --color-santa-fe-400: #daa08f;
  --color-santa-fe-500: var(--color-santa-fe);
  --color-santa-fe-600: #b3654f;
  --color-santa-fe-700: #96523f;
  --color-santa-fe-800: #7d4637;
  --color-santa-fe-900: #693f33;
  --color-santa-fe-950: #3b1e17;

  --color-swirl: #d1cac4;
  --color-swirl-50: #fbfbf8;
  --color-swirl-100: #f6f6f3;
  --color-swirl-200: #e9e5e2;
  --color-swirl-300: var(--color-swirl);
  --color-swirl-400: #aea298;
  --color-swirl-500: #7f7165;
  --color-swirl-600: #5c5549;
  --color-swirl-700: #494137;
  --color-swirl-800: #2c2421;
  --color-swirl-900: #1f1914;
  --color-swirl-950: #0e0a07;

  --font-sans:
    "Noto Sans TC", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Microsoft JhengHei", sans-serif;
}

@layer base {
  body {
    @apply bg-fantasy font-sans text-fantasy-950;
  }
}
